<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="../assets/styles/dashboard.css" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Player</a>
            </li>
          </ul>

          <button class="btn btn-primary" type="submit">Log Out</button>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8">
                <h2>Player</h2>
              </div>
              <div class="col-sm-4">
                <a href="/dashboard/create"
                  ><button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>Create New</button></a
                >
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% for(i=0; i < user_games.length; i++) { %>
              <tr>
                <td><%= user_games[i].userName %></td>
                <td><%= user_games[i].email %></td>
                <td>
                  <a href="/dashboard/<%= user_games[i].id %>" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                  <a href="/dashboard/<%= user_games[i].id %>/edit" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                  <a href="/dashboard/<%= user_games[i].id %>/delete" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
