<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/create.css" rel="stylesheet" />
  </head>
  <body>
    <body>
      <div class="container">
        <div class="title">Edit</div>
        <div class="content">
          <form action="/dashboard" method="post">
            <input name="id" type="text" value="<%= user_game.id %>" hidden required>
            <div class="user-details">
              <div class="input-box">
                <span class="details">Username</span>
                <input name="userName" type="text" placeholder="Enter your username" value="<%= user_game.userName %>" required>
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input name="email" type="text" placeholder="Enter your email" value="<%= user_game.email %>" required>
              </div>
              <div class="input-box">
                <span class="details">Password</span>
                <input name="password" type="text" placeholder="Enter your password"  value="<%= user_game.password %>" required>
              </div>
           
            <div class="button">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
  </body>
</html>
